<app-menu></app-menu>
<div>
  <br>
    <h4>{{ user.FirstName }}'s Profile</h4>
  <br>
</div>
<div class="maindiv">
	<table class="table table-sm">
		<tr>
			<td>First Name</td>
			<td>{{ user.FirstName }}</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td>{{ user.LastName }}</td>
		</tr>
		<tr>
			<td>User Name</td>
			<td>{{ user.UserName }}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{ user.Email }}</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>{{ user.Phone }}</td>
		</tr>
		<tr>
			<td>Reviewer</td>
			<td>{{ user.IsReviewer | bool }}</td>
		</tr>
		<tr>
			<td>Admin</td>
			<td>{{ user.IsAdmin | bool }}</td>
		</tr>
		<tr>
			<td>Active</td>
			<td>{{ user.Active | bool }}</td>
		</tr>
	</table>
		<span *ngIf="currUser.IsAdmin"><a class="btn btn-warning" routerLink="/users/edit/{{ user.Id }}">Edit</a> | </span>
		<span *ngIf="currUser.IsAdmin"><button (click)="remove()" class="btn btn-danger">Remove</button> | </span>
		<span><a class="btn btn-secondary" routerLink="/users/list">Back</a></span>
</div>