
form{
	width: 60%;
	margin: auto;
}
.form-control:hover {
  transform: scale(1.01);
  border-color: #4CAF50;
}
.custom-select:hover {
  transform: scale(1.01);
  border-color: #4CAF50;
}
/*label {
	float: left;
	clear: both;
	margin: 5px;
	font-weight: bold;
}*/
/*.container{
	margin: auto;
    width: 80%;
}*/