<div>
  <br>
    <h4>Edit {{ user.FirstName }}'s Profile</h4>
  <br>
</div>
<form>
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">User Name</label>
    <div class="col-sm-10">
      <input [(ngModel)]="user.UserName" type="text" class="form-control" name="username" id="username" placeholder="Enter User Name" >
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name="password"  id="password" placeholder="Enter Password" required [(ngModel)]="user.Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name" required [(ngModel)]="user.FirstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name" required [(ngModel)]="user.LastName">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email" required [(ngModel)]="user.Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter Phone" required [(ngModel)]="user.Phone">
    </div>
  </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="isreviewer">Reviewer</label>
      <select [(ngModel)]="user.IsReviewer" class="custom-select col-sm-2" name = "isreviewer" id="isreviewer">
        <option selected></option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  <div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="isadmin">Admin</label>
      <select [(ngModel)]="user.IsAdmin" class="custom-select col-sm-2" name="isadmin" id="isadmin">
        <option selected></option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>
  <div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="active">Active</label>
      <select [(ngModel)]="user.Active" class="custom-select col-sm-2" name="active" id="active">
        <option selected></option>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <span><button type="button" class="btn btn-success" (click)="change()">Change</button> | </span>
      <button type="button" class="btn btn-danger secondbutton" (click)="remove()">Remove</button>
    </div>
  </div>
</form>


<!--   <div class="form-group">
    <label for="isreviewer">Reviewer:</label>
    <form action="">
      <input type="checkbox" name="isreviewer" value=true [(ngModel)]="user.IsReviewer"><br>
    </form>
  </div>
  <div class="form-group">
    <label for="isadmin">Administrator:</label>
    <form action="">
      <input type="checkbox" name="isadmin" value=true [(ngModel)]="user.IsAdmin"><br>
    </form>
  </div>
  <div class="form-group">
    <label for="active">Active:</label>
    <form action="">
      <input type="checkbox" name="active" value=true [(ngModel)]="user.Active"><br>
    </form>
  </div>

  <span><button type="button" class="btn btn-warning" (click)="change()">Change</button> | </span>
  <button type="button" class="btn btn-danger secondbutton" (click)="remove()">Remove</button>
</div> -->
