
div{
	background-color: #212529;
	height: 60px;
}
li {
	display: inline-block;
	text-align: center;
	border-right: 1px solid #bbb;
}
a {
	color: white;
	padding: 0px 5px;
	text-decoration: none;
	font-family: arial;
	font-size: 1.1em;

}
