
<div class="container">
	<br>
	<h2>Users</h2>
	<span><a class="btn btn-success createbtn" routerLink="/users/create">Create User</a></span>
	<table class="table table-sm table-hover">
		<thead>
			<th>Name</th>
	        <th>User Name</th>
	        <th>Email</th>
	        <th>Phone</th>
	        <th>Reviewer</th>
	        <th>Admin</th>
	        <th>Active</th>
	        <th>Action</th>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{ user.FirstName }} {{ user.LastName }}</td>
				<td>{{ user.UserName }}</td>
				<td>{{ user.Email }}</td>
				<td>{{ user.Phone }}</td>
				<td> {{ user.IsReviewer | bool }}</td>
				<td>{{ user.IsAdmin | bool }}</td>
				<td>{{ user.Active | bool }}</td>
				<td>
					<span><a routerLink="/users/detail/{{ user.Id }}">Details</a> | </span>
					<span><a routerLink="/users/edit/{{ user.Id }}">Edit</a></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
