<app-menu></app-menu>
<div *ngIf="purchaserequest" class="container">
	<div id="listHead">
		<br>
		<h2>Lines for {{ purchaserequest.User.FirstName }}'s Purchase Request</h2>
		<br>
	</div>
	<table id="prtbl" class="table table-sm table-bordered thead-dark">
		<thead>
			<th>User</th>
	        <th>Description</th>
	        <th>Total</th>
	        <th>Status</th>
		</thead>
		<tbody>
			<tr>
				<td>{{ purchaserequest.User.FirstName }} {{ purchaserequest.User.LastName }}</td>
				<td>{{ purchaserequest.Description }}</td>
				<td>{{ purchaserequest.Total }}</td>
				<td>{{ purchaserequest.Status }}</td>
			</tr>
		</tbody>
	</table>

	<div class="container">
		<span><a id="createLnk" class="btn btn-success createbtn" routerLink="/purchaserequestlineitems/create/{{ purchaserequest.Id }}">Create Line Item</a></span>
		<table class="table table-sm table-hover">
			<thead>
				<th>Product</th>
		        <th>Quantity</th>
		        <th>Price</th>
		        <th>Line Total</th>
		        <th>Action</th>

			</thead>
			<tbody>
				<tr *ngFor="let prli of purchaserequest.PurchaseRequestLineitems">
					<td>{{ prli.Product.Name }}</td>
					<td>{{ prli.Quantity }}</td>
					<td>{{ prli.Product.Price | currency }}</td>
					<td>{{ prli.Product.Price * prli.Quantity | currency }}</td>
					<td>
						<span><a routerLink="/purchaserequestlineitems/detail/{{ prli.Id }}">Details</a> | </span>
						<a routerLink="/purchaserequestlineitems/edit/{{ prli.Id }}">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
